# Exploratory Data Analysis para el consumo de alcohol en estudiantes universitarios

Se nos presentan datos sobre el consumo de alcohol en estudiantes universitarios de primer año, además de su rendimiento académico, relaciones personales, estado de salud, etc.
Deberemos analizar los datos recibidos y llegar a conclusiones al respecto.

## 1. Primero importamos las librerías correspondientes

In [1]:
import pandas as pd

## 2. Extraemos los datos

Notamos que los datos están en un arhivo csv, por lo que usaremos pandas para crear un dataframe de los mismos

In [2]:
df_datos = pd.read_csv(filepath_or_buffer="C:/Users/franc/Desktop/EDA_ML/estudialcohol.csv", sep=",",encoding='latin-1')

Imprimimos los datos por pantalla para ver como se muestran

In [3]:
df_datos

,ï»¿ciudad,genero,edad,direccion,famtam,estadoP,eduM,eduP,trabM,trabP,...,pololea,qfamrel,tpolibre,saleamigos,salud,inasistencia,G1,G2,G3,nivelalco
0,La Serena,M,25,URB,MI3,SEP,0,2,servicios,otro,...,si,3,5,4,2,30,6.1,6.4,5.7,BAJO
1,Valparaiso,M,23,RUR,MQ3,SEP,2,4,otro,salud,...,si,1,4,2,1,8,4.0,5.2,4.2,MUYBAJO
2,La Serena,F,18,URB,MQ3,SEP,4,2,profesor,servicios,...,si,4,5,3,2,26,3.3,4.2,3.6,ALTO
3,La Serena,F,22,URB,MQ3,JUN,4,1,servicios,otro,...,si,3,3,4,2,18,4.0,1.0,2.8,BAJO
4,La Serena,F,23,RUR,MQ3,JUN,1,4,en_casa,profesor,...,si,5,3,4,3,28,4.1,3.6,3.5,ALTO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Valparaiso,F,20,RUR,MQ3,JUN,2,3,servicios,en_casa,...,no,1,4,1,5,56,2.1,1.7,1.7,NORMAL
2996,La Serena,F,23,RUR,MQ3,JUN,3,2,servicios,en_casa,...,no,2,2,3,4,26,4.0,4.1,4.3,ALTO
2997,La Serena,M,20,RUR,MI3,JUN,1,3,en_casa,en_casa,...,si,5,2,1,3,12,3.0,2.8,2.7,ALTO
2998,La Serena,M,23,RUR,MI3,SEP,0,2,en_casa,servicios,...,no,2,4,4,1,3,5.5,5.8,5.1,BAJO
2999,La Serena,M,23,RUR,MQ3,JUN,4,0,salud,en_casa,...,no,3,5,4,3,4,4.0,3.7,4.1,BAJO